<!doctype html>
<html ng-app="myApp">
<head>
 
	<link rel="stylesheet" href="css/app.css"/>
    <script src="lib/angular/angular.js"></script>
  	<script src="js/app.js"></script>
	<script src="lib/underscore.js"></script>
	

</head>
<body>
	<div id="grey">
		<div id="wrapper">
			<div class="frame"ng-controller="glb.App">
				<div class="square" ng-repeat=" item in ticTacToe"  ng-click="grid(item)">
					{{item.text}}
				</div>
			</div>
		</div>
	</div>			 
</body>
</html>
